@{
    ViewData["Title"] = "Success Page";
}

    <div class="container">
        <div class="checkout-succes">
            <div class="icon-succes">
                <img src="assets/images/checkout-successful.png" alt="">
            </div>
            <div class="text-succes">
                <p>Transaksi anda sebesar</p>
                <h2>Rp. 150.000,00</h2>
                <p>Telah selesai <br> Terima Kasih!</p>
            </div>
            <a href="../../"> 
                <button id="btn-succes" class="btn-succes">Tutup Transaksi</button>
            </a>
        </div>
    </div>